In [1]:
#For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be),
#then give an example of what a true positive, true negative, type I and type II errors would look like.
#Note that some of the questions are intentionally phrased in a vague way. 
#It is your job to reword these as more precise questions that could be tested.

#Has the network latency gone up since we switched internet service providers?
#Is the website redesign any good?
#Is our television ad driving more sales?



Has the network latency gone up during the day since we switched internet service providers?



1a. Hnull: Has the network latency stayed the same or decreased during the day since we switched providers

Halternative: Network latency of current provider during the day > then the previous provider

True Positive: the network latency gone up during the day since we switched internet service providers.
True Negative: The network latency has stayed the same if not decreased during the day since switching providers
Type 1 error: The network latency did not stay the same and or decreased during the day when in actuality the latency did decrease during the day
Type 2 error: The network latency has stayed the same if not decreased during the day is false but continue to believe that the  latency stayed the same and decreased during the day.


Is the website redesign lacking updated content


2a Hnull: The website redesign does not have updated content

Halternative: The website redesign is fully updated.

True Positive: The website redesign updates every second
True Negative: The website redesign does not contain any new data

Type 1 error: The website redesign is fully updated however the website launch redesign did not have updated content
Type 2 error: The website does not have updated content, however the the content is up to date

#Is our television ad driving more sales with the age group 50+

Hnull: tele ad driving less sales with age group <=50

Halternative: tele ad driving more sales with the 50+ group

True Positive: tele ad driving more sales with the 50+ group

True Negative: tele ad driving less sales with age group <=50


Type 1 error: tele ad driving less sales with age group <=50 when the data says it actually drove more sales
Type 2 error: tele add driving less sales with the age group <=50 and continued to target age groups <= 50

In [1]:
from pydataset import data
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [4]:
## Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
##A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
##A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
##Use a .05 level of significance.

## office 1 is significantly faster then office 2 to sell homes
## office 1 is not signifcantly faster then office 2 to sell homes

from math import sqrt

alpha = .05

office1sample = 40
office1mean = 90
office1std = 15


office2sample = 50
office2mean = 100 
office2std = 20

deg_free = office1sample + office2sample - 2## degrees of freedom from 2 samples

s_p = sqrt(((office1sample-1) * office1std**2 +(office2sample-1) * office2std**2)/(deg_free))## this is the t-test
s_p

17.956702977389302

In [5]:
standard_error = se = sqrt(office1std**2 / office1sample + office2std**2 / office2sample)

t = (office1mean - office2mean) / (s_p * sqrt(1/office1sample + 1/office2sample))
t

-2.6252287036468456

In [11]:
p = stats.t(deg_free).cdf(t) * 2
p

0.01020985244923939

In [12]:
print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -2.62523
p = 0.01021

In [13]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)

is p/2 < alpha?  True
is t > 0?  False

In [14]:
t,p = stats.ttest_ind_from_stats(mean1=90,std1=15, nobs1 = 40, mean2=100, std2 = 20, nobs2=50, equal_var=False)

In [15]:
t,p

(-2.7091418459143854, 0.00811206270346016)

In [21]:
print("is p/2 < alpha? ", p/2 < alpha)
print("is t > 0? ", t > 0)

is p/2 < alpha?  True
is t > 0?  False

In [16]:
if p < alpha:
    print("Reject null hypothesis, there is evidence to suggest there is a difference in sales")
else: 
    print("Fail to reject null hypothesis")

Reject null hypothesis, there is evidence to suggest there is a difference in sales

In [18]:
##Load the mpg dataset and use it to answer the following questions:

##Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
##Are compact cars more fuel-efficient than the average car?
##Do manual cars get better gas mileage than automatic cars?


df = data('mpg')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [20]:
##Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

## Ho: "There is no difference in fuel efficiency between cars made in 1999 and 2008.
## Ha: "There is a difference in fuel efficiency between cars made in 1999 and 2008."

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [23]:
mpg_df['fuel_efficiency'] = (mpg_df.hwy + mpg_df.cty)/2
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [25]:
cars_2008 = mpg_df[mpg_df.year==2008].fuel_efficiency
cars_1999 = mpg_df[mpg_df.year==1999].fuel_efficiency

In [26]:
cars_2008.var(), cars_1999.var()

(24.097480106100797, 27.122605363984682)

In [27]:
t, p = stats.ttest_ind(cars_2008, cars_1999)
t, p

(-0.21960177245940962, 0.8263744040323578)

In [28]:
#Since p is greater than our alpha, we fail to reject the null hypothesis.

p < alpha

False

In [29]:
##Are compact cars more fuel-efficient than the average car?

##H0: Compact cars are as fuel efficient as all cars
##Ha: Compact cars are more fuel efficient than average cars. This will be a one tailed, 1 sample t test

In [30]:
mpg_df = mpg_df.rename(columns = {'class': "car_type"})
compact_fuel = mpg_df[mpg_df.car_type=="compact"].fuel_efficiency

In [31]:
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,car_type,fuel_efficiency
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [32]:

def car_type(x):
    if x =="compact":
        return "compact"
    else:
        return "not_compact"
mpg_df["is_compact"] = mpg_df.car_type.apply(car_type)

average_fuel = mpg_df[mpg_df.is_compact =="not_compact"].fuel_efficiency

In [33]:
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,car_type,fuel_efficiency,is_compact
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,compact
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,not_compact
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,not_compact
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,not_compact
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,not_compact
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,not_compact

In [34]:
overall_mean = mpg_df.fuel_efficiency

In [37]:
t,p = stats.ttest_ind(compact_fuel,overall_mean, alternative="greater")
t,p

(5.260311926248542, 1.4342273079064686e-07)